:root {
    --ion-content-backgroud: black;
}

ion-item{
    --background: #388eff;
    --color: #fff;
}

ion-button{
    margin-top: 15px;
    --background: #062f77;
}

.form {
    margin-top: 15px;
}

h3 {
    text-align: center;
}