<ion-header>
  <ion-toolbar>
    <ion-title>Consulta Física de Material</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="formulario" action="" [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Etiqueta do Material</ion-label>
      <ion-input type="text" formControlName="etiqueta"></ion-input>
    </ion-item>

    <table class="table table-dark tabela">
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Descrição</th>
          <th scope="col">Qtd</th>
          <th scope="col">Unidade</th>
          <th scope="col">Data</th>
          <th scope="col">Embalagens</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">123</th>
          <td>123</td>
          <td>456</td>
          <td>PC</td>
          <td>3</td>
          <td>15</td>
        </tr>
      </tbody>
    </table>
    <ion-button class="btn-proximo" color="tertiary" [routerLink]="['/danfe']">Anterior</ion-button>
    <ion-button class="btn-proximo" color="tertiary" [routerLink]="['/localizacao']">Próximo</ion-button>
  </form>

</ion-content>