.linha {
  margin: 20px;
}

.tabela {
  margin: 30px;
  overflow-x: auto;
}

.id-mat {
  margin-left: 20px;
  margin-right: 20px;
}

.checked {
  margin-top: 15px;
}

.btn-anterior {
  margin-left: 30px;
}
