<ion-header>
  <ion-toolbar>
    <ion-title>Conferência Danfe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="formulario" action="" [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Código da Danfe</ion-label>
      <ion-input type="text" formControlName="danfe"></ion-input>
    </ion-item>

    <div class="row linha">
      <ion-item class="col-6">
        <ion-label position="floating">CNPJ</ion-label>
        <ion-input type="text" formControlName="cnpj" readonly="true"></ion-input>
      </ion-item>
      <ion-item class="col-6">
        <ion-label position="floating">Razão Social</ion-label>
        <ion-input type="text" formControlName="razao" readonly="true"></ion-input>
      </ion-item>
    </div>

    <div class="row linha">
      <ion-item class="col-4">
        <ion-label position="floating">Modelo</ion-label>
        <ion-input type="text" formControlName="modelo"></ion-input>
      </ion-item>
      <ion-item class="col-4">
        <ion-label position="floating">Série</ion-label>
        <ion-input type="text" formControlName="serie"></ion-input>
      </ion-item>
      <ion-item class="col-4">
        <ion-label position="floating">Número</ion-label>
        <ion-input type="text" formControlName="numero"></ion-input>
      </ion-item>
    </div>
    <div class="row linha">
      <ion-item class="col-4">
        <ion-label position="floating">Data Emissão</ion-label>
        <ion-input type="text" formControlName="emissao"></ion-input>
      </ion-item>
      <ion-item class="col-4">
        <ion-label position="floating">Data Entrada/Saída</ion-label>
        <ion-input type="text" formControlName="entradaSaida"></ion-input>
      </ion-item>
      <ion-item class="col-4">
        <ion-label position="floating">Val. Total</ion-label>
        <ion-input type="text" formControlName="valorTotal"></ion-input>
      </ion-item>
    </div>

    <div class="row linha">
      <ion-item class="col-6">
        <ion-label position="floating">Número da Nota</ion-label>
        <ion-input type="text" formControlName="numeroNota" readonly="true"></ion-input>
      </ion-item>
      <ion-item class="col-6">
        <ion-label position="floating">Número da Embalagem</ion-label>
        <ion-input type="text" formControlName="itemsEmb" readonly="true"></ion-input>
      </ion-item>
    </div>

    <table class="table tabela">
      <thead>
        <tr>
          <th scope="col">Seq</th>
          <th scope="col">Item</th>
          <th scope="col">Lote</th>
          <th scope="col">Und. Medida</th>
          <th scope="col">Num. Unidades</th>
          <th scope="col">Qtd</th>
          <th scope="col">Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">123</th>
          <td>123</td>
          <td>456</td>
          <td>PC</td>
          <td>3</td>
          <td>15</td>
          <td>blablabla</td>
        </tr>
      </tbody>
    </table>

    <ion-button class="btn-proximo" color="primary" [routerLink]="['/fisica']">Próximo</ion-button>
  </form>


</ion-content>