.tabela {
  margin: 20px;
  color: white;
}

.consulta {
  margin: 20px;
}

.parcial {
  margin-left: 30px;
}

.total {
  margin-left: 30px;
}

.und-peso {
  margin: 10px;
}

.btn-voltar {
  margin-left: 20px;
}
