<ion-header>
  <ion-toolbar>
    <ion-title>Consulta Danfe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="formulario" action="" [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Código da Danfe</ion-label>
      <ion-input type="text" formControlName="danfe"></ion-input>
    </ion-item>

    <div class="row linha">
      <ion-item class="col-12">
        <ion-label position="floating">Razão Social</ion-label>
        <ion-input type="text" formControlName="razao" readonly="true"></ion-input>
      </ion-item>
    </div>

    <div class="row linha">
      <ion-item class="col-4">
        <ion-label position="floating">Série</ion-label>
        <ion-input type="text" formControlName="serie"></ion-input>
      </ion-item>
      <ion-item class="col-4">
        <ion-label position="floating">Número</ion-label>
        <ion-input type="text" formControlName="numero"></ion-input>
      </ion-item>
      <ion-item class="col-4">
        <ion-label position="floating">Dt Emissão</ion-label>
        <ion-input type="text" formControlName="emissao"></ion-input>
      </ion-item>
    </div>
    <div class="row linha">

      <ion-item class="col-4">
        <ion-label position="floating">Dt Ent/Saída</ion-label>
        <ion-input type="text" formControlName="entradaSaida"></ion-input>
      </ion-item>
      <ion-item class="col-4">
        <ion-label position="floating">Nmr NF</ion-label>
        <ion-input type="text" formControlName="numeroNota" readonly="true"></ion-input>
      </ion-item>
      <ion-item class="col-4">
        <ion-label position="floating">Nmr Emb</ion-label>
        <ion-input type="text" formControlName="itemsEmb" readonly="true"></ion-input>
      </ion-item>
    </div>

    <table class="table table-dark tabela">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Seq</th>
          <th scope="col">Item</th>
          <th scope="col">Und Medida</th>
          <th scope="col">Num Und</th>
          <th scope="col">Qtd</th>
          <th scope="col">Desc</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><ion-checkbox></ion-checkbox></th>
          <td>12</td>
          <td>456</td>
          <td>PC</td>
          <td>3</td>
          <td>15</td>
          <td>blablabla</td>
        </tr>
      </tbody>
    </table>

    <ion-button class="btn-proximo" color="tertiary" [routerLink]="['/fisica']">Confirmar</ion-button>
  </form>


</ion-content>
